<h1>Post a new photo</h1>
<p>You’re almost there. Let’s do this!</p>

<%= form_for @post_form, as: :post, url: edit_post_path(@post_form) do |f| %>
  <%= f.field :description %>
  <%= f.field :show_location, :boolean %>

  <p>
    <%= f.label :visibility, t("form.labels.post.visibility") %>
    <%= f.select :visibility,
                 [
                  [t("form.labels.post.visibility_private"), "private"],
                  [t("form.labels.post.visibility_public"), "public"],
                  [t("form.labels.post.visibility_unlisted"), "unlisted"]
                 ],
                 include_blank: false %>
  </p>

  <p>
    <%= f.label :keywords, t("form.labels.post.keywords") %>
    <%= f.text_field :keywords %>
    <%= f.error_for :keywords %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
