<%= form_for @post, url: new_post_path, as: :post do |f| %>
  <%= f.hidden_field :description %>

  <p>
    <%= f.file_field :photo,
                     direct_upload: true,
                     accept: Photomatic::Config.photo_mime_types.join(",") %>
    <%= f.error_for :photo  %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
