<style type="text/css">
  body {
    background: <%= @view_object.meta["colors"]["light"]["bg"] %>;
  }

  /*#photo:before {
    content: "Loading";
    color: <%= @view_object.meta["colors"]["light"]["fg"] %>;
  }*/
</style>

<div class="photo-wrapper">
  <%= image_tag url_for(@view_object.large_photo),
      id: "photo",
      width: @view_object.photo_width,
      height: @view_object.photo_height %>
</div>

<div class="photo-sidebar no-scrollbars">
  <%= render "user_info", user: @view_object.user, class: "author" %>

  <% if @view_object.has?(:description) %>
    <div class="text-sm">
      <%= simple_format @view_object.description %>
    </div>
  <% end %>

  <ul class="photo-meta">
    <% if @view_object.has?(:camera) %>
      <li>
        <%= icon :camera %>
        <%= @view_object.camera %>
      </li>
    <% end %>

    <% if @view_object.has?(:lens) %>
      <li>
        <%= icon :lens %>
        <%= @view_object.lens %>
      </li>
    <% end %>

    <% if @view_object.has?(:technical_info) %>
      <li>
        <%= icon :info %>
        <%= @view_object.technical_info %>
      </li>
    <% end %>

    <% if @view_object.has?(:country) %>
      <li>
        <%= icon :pin %>
        <%= post_location(@view_object) %>
      </li>
    <% end %>

    <% if @view_object.has?(:photo_taken_at) %>
      <li>
        <%= icon :calendar %>
        <%= localize(@view_object.photo_taken_at.to_date, format: :long) %>
      </li>
    <% end %>

    <li>
      <%= icon :calendar, class: "icon opacity-0" %>
      <time class="text-xs" datetime="<%= @view_object.created_at.iso8601 %>">
        <%= t(".uploaded", time: time_ago_in_words(@view_object.created_at)) %>
      </time>
    </li>

    <li>
      <%= like_button(@view_object) %>
    </li>
  </ul>

  <div class="comments">
    <% 10.times do %>
      <div class="comment">
        <%= render "user_info", user: @view_object.user, class: "sm" %>
        <div class="comment--text">
          <%= simple_format "line 1\n\n\nline 2\nhttps://enlarge-your-sausage.spam" %>
        </div>

        <time datetime="<%= Time.now.iso8601 %>" class="comment--date">
          <%= time_ago_in_words(3.minutes.from_now) %>
        </time>
      </div>
    <% end %>
  </div>

  <div class="post-comment-box" data-controller="chars-counter" data-chars-counter-limit="500">
    <div>
      <p>
        <textarea placeholder="<%= t("simple_form.placeholders.posts.comment") %>" data-chars-counter-target="input"></textarea>
      </p>

      <p class="mt-0 leading-none relative">
        <button disabled class="link-button">Post</button>
        <span data-chars-counter-target="count" class="absolute right-0 bottom-0"></span>
      </p>
    </div>
  </div>
</div>
