<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= page_meta %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= svg_image_tag(:icons) %>

    <div class="main-content">
      <div class="mb-5">
        <%= link_to home_path do %>
          <%= svg_image_tag "logo" %>
        <% end %>
      </div>

      <%= render "flash_messages" %>

      <div class="page-header">
        <h1 class="page-title"><%= page_meta.title.simple %></h1>
        <p class="page-description"><%= page_meta.description %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
