<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "head" %>

  <body>
    <%= svg_image_tag(:icons) %>
    <%= render "main_header" %>

    <div class="main-content">
      <div class="mb-5 logo">
        <%= link_to home_path do %>
          <%= svg_image_tag "logo" %>
        <% end %>
      </div>

      <%= render "flash_messages" %>

      <% if page_meta.title.simple.present? %>
        <div class="page-header">
          <h1 class="page-title"><%= page_meta.title.simple %></h1>
          <% if page_meta.description.present? %>
            <p class="page-description"><%= page_meta.description %></p>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
