<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "head" %>

  <body>
    <main>
      <%= svg_image_tag(:icons) %>
      <%= render "main_header" %>
      <%= yield %>
    </main>
  </body>
</html>
