<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "head" %>

  <body data-page-id="<%= page_id %>">
    <%= svg_image_tag(:icons) %>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
