<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= page_meta %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-page-id="<%= page_id %>">
    <%= svg_image_tag(:icons) %>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
